.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.apexcharts-tooltip {
    background: rgba(0, 0, 0, .7) !important;
    color: #fff;
}