:root {
    --info: rgb(3, 201, 215);
    --warning: rgb(251, 150, 120);
    --yellow: rgb(254, 201, 15);
    --light: rgb(250, 251, 251);
}

::selection {
    background-color: var(--warning);
    color: #fff;
}

body {
    background-color: var(--light) !important;
}

.pointer {
    cursor: pointer !important;
}

.input {
    border: 1px solid transparent;
    outline: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.input:hover {
    outline: 1px solid #000;
}

input:focus {
    border: 1px solid var(--info) !important;
    outline: 1px solid var(--info) !important;
}

.rtl {
    direction: rtl !important;
}

.badge {
    background-color: var(--yellow);
    border-radius: 8px;
    padding: 9px 12px !important;
    color: #fff;
}