:root {
    --yellow: rgb(254, 201, 15);
    --red: rgb(228, 106, 118);
    --green: rgb(46, 125, 50);
    --light: rgb(250, 251, 251);
    --gray: rgb(119, 126, 137);
    --dark-gray: rgba(0, 0, 0, 0.6);
    --main-dark: rgba(0, 0, 0, 0.87);
}

::selection {
    background-color: var(--warning);
    color: #fff;
}

* {
    text-decoration: none !important;
}

body {
    background-color: var(--light) !important;
}

.pointer {
    cursor: pointer !important;
}

.input {
    border: 1px solid transparent;
    outline: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.input:hover {
    outline: 1px solid #000;
}

.input:focus {
    border: 1px solid var(--info);
    outline: 1px solid var(--info);
}

.rtl {
    direction: rtl !important;
}

.badge {
    background-color: var(--yellow);
    border-radius: 8px;
    padding: 9px 12px !important;
    color: #fff;
}

.bg-info, .bg-low {
    background-color: var(--info) !important;
}

.bg-warning, .bg-medium {
    background-color: var(--warning) !important;
}

.bg-high {
    background-color: var(--yellow) !important;
}

.bg-critical {
    background-color: var(--red) !important;
}

.bg-moderate {
    background-color: var(--green) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-dark {
    color: var(--main-dark) !important
}

.text-dark-gray {
    color: var(--dark-gray) !important
}

.form-select:focus {
    border: 2px solid var(--info) !important;
    box-shadow: none !important;
}


.form-select option:hover {
    background-color: red !important;
    color: red !important;
}

.divider {
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
}

a {
    color: var(--dark-gray) !important;
    font-weight: 700;
}